#requireResource("confluence.web.resources:jquery")
#requireResource("com.nurago.confluence.plugins.treecopy:web-resources")

<html> 
<head> 
	<meta name="decorator" content="atl.general"/>
    <title>Copy Page Tree</title>	 	
</head> 
<body> 
	
		#foreach( $err in $action.getActionErrors() )
			<div class="aui-message error closeable shadowed">
				<p class="title">
					<span class="aui-icon icon-error"></span>
					<strong>Error!</strong>
				</p>
				<p>$err</p>
			</div>			
		#end

    <script type="text/javascript">
    	    
	    function addsubstitute() {
		    var titlefields = document.getElementsByTagName("input");
			
	    	for (var i=0;i<titlefields.length;i=i+1) {
	    		if (titlefields[i].name.search("^title-")!=-1) {
	    			var id = titlefields[i].name.split("-")[1];
	    			if (document.getElementById("toggle-"+id).checked) {
	    				titlefields[i].value = document.getElementById("prefix").value + titlefields[i].value;
	    			}
	    		}    		
	    	}

	    	for (var i=0;i<titlefields.length;i=i+1) {
	    		if (titlefields[i].name.search("^title-")!=-1) {
	    			var id = titlefields[i].name.split("-")[1];
	    			if (document.getElementById("toggle-"+id).checked) {
	    				titlefields[i].value = titlefields[i].value + document.getElementById("suffix").value;
	    			}
	    		}    		
	    	}

		    for (var i=0;i<titlefields.length;i=i+1) {
		    	if (titlefields[i].name.search("^title-")!=-1) {
		    		var re = new RegExp(document.getElementById("search").value,"g");
		    		var id = titlefields[i].name.split("-")[1];
	    			if (document.getElementById("toggle-"+id).checked) {
		    			titlefields[i].value  = titlefields[i].value.replace(re, document.getElementById("replace").value); 
		    		}
		    	}    		
		    }
		}
    
    	function selectall() {
    		var togglefields = document.getElementsByTagName("input");
			
	    	for (var i=0;i<togglefields.length;i=i+1) {
	    		if (togglefields[i].name.search("^toggle-")!=-1) {
	    			togglefields[i].checked = true;
	    		}    		
	    	}
    	}
    
    	function deselectall() {
    		var togglefields = document.getElementsByTagName("input");
			
	    	for (var i=0;i<togglefields.length;i=i+1) {
	    		if (togglefields[i].name.search("^toggle-")!=-1) {
	    			togglefields[i].checked = false;
	    		}    		
	    	}
    	}
    </script>
    
	<img src="" width="20" height="1">
	<table style="spacing:3px;background-color:#DDDDDD;width:500px">
		<tr>
			<td><img src="" width="33" height="1"></td>
			<td style="border-bottom:1px solid black;">$action.getText("copypagetree.prefix")</td>
			<td><img src="" width="40" height="1"></td>
			<td style="border-bottom:1px solid black;">$action.getText("copypagetree.replace")</td>
			<td><img src="" width="40" height="1"></td>
			<td style="border-bottom:1px solid black;">$action.getText("copypagetree.suffix")</td>
			<td><img src="" width="40" height="1"></td>
			<td><img src="" width="40" height="1"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="text" id="prefix" style="width:60px"></td>
			<td></td>
			<td><input type="text" id="search" style="width:60px"> -&gt; <input type="text" id="replace" style="width:60px"></td>
			<td></td>
			<td><input type="text" id="suffix" style="width:60px"></td>
			<td></td>
			<td><input type="button" value="Apply" onClick="addsubstitute();"></td>
		</tr>
	</table>	
	<br>
	<br>
	<span style="font-size:small">
		<a href="javascript:selectall()">$action.getText("copypagetree.selectall")</a> /  <a href="javascript:deselectall()">$action.getText("copypagetree.deselectall")</a>
	</span>
	<form action="copy.action?pageId=$page.id" method="post">
	#foreach( $desc in $action.getDescendants() )
		#set( $width = $desc.getDepth()*20 )
		#set( $inputwidth = 500 - $width )
		<img src="" width="$width" height="1">
		<input style="margin-left:${width}px" type="checkbox" name="toggle-$desc.getId()" id="toggle-$desc.getId()" value="$desc.getId()" /> 
		<input style="width:${inputwidth}px" type="text" name="title-$desc.getId()" value="$desc.getTitle()" /> 
		<br>
	#end
	<br>
	<br>
	<table style="spacing:3px;background-color:#DDDDDD;width:500px">
		<tr>
			<td style="border-bottom:1px solid black;">$action.getText("copypagetree.space")</td>
			<td style="border-bottom:1px solid black;">$action.getText("copypagetree.parentpage")</td>
			<td><img src="" width="40" height="1"></td>
		</tr>
		<tr>
			<td>
				<select name="targetspace" id="targetspace" size="1" style="width:150px">
					#foreach( $space in $action.getSpaces() )
						#if ($action.getCurrPage().getSpace().getName() == $space.getName())
							#set($selected = "selected")
						#else
							#set($selected = "")
						#end
						<option ${selected} value="$space.getKey()">$space.getName()</option>
					#end
			    </select>
			</td>
			<td>
				#if (! $action.getCurrPage().getParent())
					#set($parent = "")
				#else
					#set($parent = $action.getCurrPage().getParent().getTitle())
				#end
				<input id="parenttitle" name="parenttitle" style="width:250px" value="$parent"/>
			</td>
			<td>
				<input type="submit" value="Copy">
			</td>
		</tr>
	</table>
	<br>
	<input type="hidden" name="pageId" value="$pageId" />
	
	</form>
	<script>

			selectall();
			
			jQuery("#parenttitle").bind("input", function() {
				jQuery("#parenttitle").autoComplete('destroy');
				if ( jQuery("#parenttitle").val().length > 2 ) {
					jQuery("#parenttitle").autoComplete({ajax: '../servlet/treecopypages?action=getpages&spacekey='+jQuery("#targetspace option:selected").val()+'&value='+jQuery("#parenttitle").val()}).focus();
				}					
			});
			
			jQuery("#targetspace").change(function() {
				jQuery("#parenttitle").autoComplete('destroy');
				if ( jQuery("#parenttitle").val().length > 2 ) {
					jQuery("#parenttitle").autoComplete({ajax: '../servlet/treecopypages?action=getpages&spacekey='+jQuery("#targetspace option:selected").val()+'&value='+jQuery("#parenttitle").val()}).focus();
				}
			});	

	</script>
</body> 
</html> 